body {
    background-color: #323437;
}

#container {
    display: flex;
    background-color: #323437;
    padding: 100px;
}

#color-section {
    display: flex;
    margin-right: 30px;
}

#grid-container {
    outline: 4px solid black;
    display: flex;
    width: 480px;
    height: 480px;
    background-color: white;
}

#slider {
    display: block;
}

#eraser-button {
    display: block;
}

#eraser {
    width: 20px;
    height: auto;
}

.slider {
    color: pink;
}

.color-div {
    outline: 2px solid black;
    width: 32px;
    height: 32px;
    margin: 10px;
    cursor: pointer;
}

.selected-color {
    outline: 1px solid white;
    transform: scale(1.1);
    transition: ease-in-out 0.05s;
}