#container {
    display: flex;
}

#color-section {
    display: flex;
    margin-right: 30px;
}

#grid-container {
    outline: 4px solid black;
    display: flex;
    width: 320px;
    height: 320px;
}

#slider {
    display: block;
}


.slider {
    color: pink;
}

.color-div {
    outline: 2px solid black;
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}